<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
    <link rel="icon" type="image/svg+xml" href="/svg/logo.svg" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %>

    <div class=""><%- body %></div>
    <%- include("../includes/footer.ejs") %>
  </body>
</html>
